<!DOCTYPE html>

<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" />
	</head>

	<body>
		<header>
			<h1>Liam Butterworth</h1>

			<ul>
				<li>
					<img alt="laptop" src="<%= require( './assets/images/laptop.png' ) %>" />
					<a href="https://liambutterworth.me">liambutterworth.me</a>
				</li>

				<li>
					<img alt="envelope" src="<%= require( './assets/images/envelope.png' ) %>" />
					<a href="mailto:contact@liambutterworth.me">contact@liambutterworth.me</a>
				</li>
			</ul>
		</header>

		<main>
			<h2>Education</h2>

			<section>
				<aside>
					<h3>University of Alabama</h3>
					<p>Aug '07 - Dec '11</p>
				</aside>

				<article>
					<h3>Bachelor of Science</h3>
					<p>Major &mdash; Management Information Systems</p>
					<p>Minor &mdash; Computer Science</p>
				</article>
			</section>

			<h2>Experience</h2>

			<section>
				<aside>
					<h3>University of Alabama</h3>
					<p><em>Strategic Communications</em></p>
					<p>Nov '15 - Jul '18</p>
				</aside>

				<article>
					<h3>Software Engineer</h3>

					<ul>
						<li>Collaborated with a team to develop and maintain custom Wordpress solutions for clients across campus</li>
						<li>Oversaw department-wide site overhaul for the Office of the Vice President of Research</li>
						<li>Improved accessibility compliance for University websites as part of a campus-wide initiative</li>
					</ul>
				</article>
			</section>

			<section>
				<aside>
					<h3>Nine Agency</h3>
					<p>Jan '12 - Oct '15</p>
				</aside>

				<article>
					<h3>Web Developer</h3>

					<ul>
						<li>Developed complex front-end applications that implemented Backbone.js using Ruby on Rails as a consumable API</li>
						<li>Worked with designers to create clean and intuitive interfaces for client websites</li>
						<li>Created e-commerce sites that utilized Intuit oAuth and Amazon Web Services to process payments and host product data</li>
					</ul>
				</article>
			</section>

			<section>
				<aside>
					<h3>University of Alabama</h3>
					<p><em>Student Affairs</em></p>
					<p>Aug '09 - Dec '11</p>
				</aside>

				<article>
					<h3>Web Developer</h3>

					<ul>
						<li>Developed complex front-end applications that implemented Backbone.js using Ruby on Rails as a consumable API</li>
						<li>Worked with designers to create clean and intuitive interfaces for client websites</li>
						<li>Created e-commerce sites that utilized Intuit oAuth and Amazon Web Services to process payments and host product data</li>
					</ul>
				</article>
			</section>


			<h2>Skills</h2>

			<section>
				<aside>
					<h3>Front-End</h3>
				</aside>

				<article>
					HTML, CSS, JavaScript, React, jQuery, Bootstrap, Photoshop, Illustrator
				</article>
			</section>

			<section>
				<aside>
					<h3>Back-End</h3>
				</aside>

				<article>
					Node, Ruby on Rails, PHP, Wordpress, MySQL, PostgreSQL, MongoDB
				</article>
			</section>

			<section>
				<aside>
					<h3>Tools</h3>
				</aside>

				<article>
					Vim, Git, Docker, Gulp, Grunt, Babel, Webpack, ESLint, Jasmine, Mocha, Chai
				</article>
			</section>
		</main>
	</body>
</html>
